#page-grid{
  display: grid;
  grid-template-columns: 5fr 4fr 5fr;
}

#register-container{
  grid-column: 2/3;
  margin-top: 10vh;
  height: 80vh;
  background: #29262B;
  border-radius: 20%;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 4fr 1fr 1fr 1fr;
  box-shadow: 5px 5px #858585;
}

.interact-object{
  background: #858585;
  color: #E22012;
  font-family: 'Roboto Mono',SansSerif,Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: large;
  box-shadow: 3px 3px #29262B;
  border: 1px solid #29262B;
}

.register-button{
  width: 15vw;
  display: flex;
  justify-self: center;
  justify-content: center;
}

.register-button p{
  margin-top: 1.5vh;
}

mat-form-field{
  background: #858585;
  color: #92140C;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
  font-size: medium;
  width: 15vw;
  box-shadow: 2px 4px #29262B;
}
mat-label,input,mat-hint{
  color: #92140C;
}
