<div class="main-container">
  <div class="add-paper-container" [formGroup]="paperForm">
    <div></div>
    <h1>Enroll a paper</h1>
    <div></div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput required placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill" class="interact-object">
      <mat-label>Abstract</mat-label>
      <textarea matInput required placeholder="Abstract" formControlName="abstract" id="text-area"></textarea>
      <mat-icon matSuffix>class</mat-icon>
    </mat-form-field>
    <div></div>
    <mat-form-field appearance="fill">
      <mat-label>Add new author (email)</mat-label>
      <button mat-mini-fab color="accent" onclick="addAuthorField()">
        <mat-icon>plus_one</mat-icon>
      </button>
      <input matInput placeholder="New author" formControlName="author">
    </mat-form-field>
  <div></div>
    <mat-table [dataSource]="authors" id="authors-table">
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>
      <div></div>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Remove author</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button class="interact-object">
            <mat-icon>close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="authorColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:authorColumns;"></mat-row>
    </mat-table>

    <button class="submit-button" type="submit">Submit paper</button>
  </div>
</div>
