<div id="main-container">
  <div id="co-chairs-view" class="view-container" [style.display]="this.viewArray[0]">
    <h2>Co-chairs</h2>
    <div class="staff-table">
      <mat-table [dataSource]="coChairs">
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef>Full name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.fullName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="affiliation">
          <mat-header-cell *matHeaderCellDef>Affiliation</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.affiliation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="webpage">
          <mat-header-cell *matHeaderCellDef>Web page</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.webPage}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="coChairColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: coChairColumns"></mat-row>
      </mat-table>
    </div>
  </div>
  <div id="pc-members-view" class="view-container" [style.display]="this.viewArray[1]">
    <h2>PC Members</h2>
    <div class="staff-table">
      <mat-table [dataSource]="pcMembers">
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef>Full name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.fullName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hasPapers">
          <mat-header-cell *matHeaderCellDef>Has enrolled paper</mat-header-cell>
          <mat-cell *matCellDef="let row"><mat-icon>{{row.hasPaper===true?'done':'close'}}</mat-icon></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="pcMemberColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:pcMemberColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  <div id="reviewers-view" class="view-container" [style.display]="this.viewArray[2]">
    <h2>Reviewers</h2>
    <div class="staff-table">
      <mat-table [dataSource]="reviewers">
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef>Full name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.fullName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="papersReviewed">
          <mat-header-cell *matHeaderCellDef>No.papers reviewed</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.papersReviewed}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="reviewerColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:reviewerColumns"></mat-row>

      </mat-table>
    </div>
  </div>

  <div id="menu">
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(0,'view');getCoChairsFromConference()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      View Co-Chairs
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(1,'view');getPcMembersFromConference()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      View PC Members
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(2,'view');getReviewersFromConference()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      View Reviewers
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(0,'add')">
      Add Co-Chair
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(1,'add')">
      Add PC Members
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="changeView(2,'add');shufflePapers()">
      Shuffle papers
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <div></div>
    <button class="interact-object" mat-raised-button (click)="redirectToPapers()">
      See papers
      <mat-icon>description</mat-icon>
    </button>
  </div>

  <div id="add-co-chairs-view" class="view-container" [style.display]="this.addArray[0]">
    <h2>Add Co-chair</h2>
    <div [formGroup]="coChairForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput required placeholder="john_doe@net.com" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Affiliation</mat-label>
          <input matInput placeholder="e.g. s.c ItProd s.r.l">
          <mat-icon matSuffix>business_center</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Website</mat-label>
          <input matInput placeholder="e.g. www.JohnDoeProgramming.com">
          <mat-icon matSuffix>language</mat-icon>
        </mat-form-field>
      </p>
      <button mat-raised-button class="interact-object" (click)="addCoChair()">Add Co-chair</button>
    </div>
  </div>
  <div id="add-pc-members-view" class="view-container" [style.display]="this.addArray[1]">
    <h2>Add PC Member</h2>
    <div [formGroup]="pcMemberForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput required placeholder="john_doe@net.com" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint></mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Affiliation</mat-label>
          <input matInput placeholder="e.g. s.c ItProd s.r.l">
          <mat-icon matSuffix>business_center</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Website</mat-label>
          <input matInput placeholder="e.g. www.JohnDoeProgramming.com">
          <mat-icon matSuffix>language</mat-icon>
        </mat-form-field>
      </p>
      <button mat-raised-button class="interact-object" (click)="addPcMember()">Add PC Member</button>
    </div>
  </div>
</div>
