<div>
  <div id="page-grid">
    <div id="login-container" [formGroup]="loginForm">
      <div></div>
      <div *ngIf="loginError && loginError.length > 0">
        loginError <!-- Sau orice mesaj de eroare -->
      </div>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput required placeholder="JohnDoe28" formControlName="username">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <div></div>
      <button mat-raised-button class="interact-object login-button" (click)="login()"><p>Login</p></button>
    </div>
  </div>
</div>
