<div id="main-container">
  <div id="add-form-container">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Conference name</mat-label>
        <input matInput required placeholder="e.g. John Doe" formControlName="name">
        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Edition</mat-label>
        <input matInput required placeholder="john_doe@net.com" formControlName="email">
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input matInput required placeholder="JohnDoe28" formControlName="username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput required placeholder="JohnDoe28" formControlName="username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </p>
  </div>
</div>
